modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["chromium", "glib", "gtk3", "nss", "atk", "gdk-pixbuf"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_openai:1.0.0", "javascript_websocket:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_object_storage:1.0.0", "javascript_stripe:1.0.0", "javascript_gemini:1.0.0", "javascript_openai_ai_integrations:1.0.0", "twilio:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
TWILIO_WHATSAPP_NUMBER = "whatsapp:+17623851291"
TWILIO_MESSAGING_SERVICE_SID = "MGf65ca336aff18ed54d56c5c092c03dc1"
TWILIO_VOICE_NUMBER = "+17623851291"
TWILIO_CALL_FORWARD_NUMBER = "+919686854321"
MCA_SYSTEM_ACCESS_TOKEN = "mca-ingest-system-access-2024"

[userenv.production]
CASHFREE_ENVIRONMENT = "PRODUCTION"
NSE_ENVIRONMENT = "production"
BSE_BOND_ENVIRONMENT = "production"
